# PROBLEM SET-2

# Question-1

In [17]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()

print("When it is imported a is initialized to 0 and functions b and c are defined. When the b() is called for the"
       "first time it access the global variable a which is 0 and the argument is further passed to c().Then c() adds value 2"
      "to the value of a and it returns the value to b().\n\n Then b() is called again and it retrieves the global variable a which has"
      "now value 2 then it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 4 which"
      "is the new value of variable a.\n\n b() is now called for the third time and it access the global variable a which has now value 4"
      "it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 6.Therefore the value of global"
      "variable a is 6.")

print("Value of a is given below" )

print(a)

When it is imported a is initialized to 0 and functions b and c are defined. When the b() is called for thefirst time it access the global variable a which is 0 and the argument is further passed to c().Then c() adds value 2to the value of a and it returns the value to b().

 Then b() is called again and it retrieves the global variable a which hasnow value 2 then it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 4 whichis the new value of variable a.

 b() is now called for the third time and it access the global variable a which has now value 4it passes the argument to the c(), now c() add value 2 to the value of a and returns the result 6.Therefore the value of globalvariable a is 6.
Value of a is given below
6

# Question-2

In [23]:
def fileLength(filename):
    try:
        infile = open(filename)
        contents = infile.read()
        infile.close()
        print(len(contents))
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except:
        print("An error occurred while reading the file.")


fileLength("C:/Users/nehal/Psfile.txt")
fileLength("C:/Users/nehal/Pfile.txt")

123
File C:/Users/nehal/Pfile.txt not found.

# Question-3

In [28]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

k = Kangaroo(0,0)
print(k)  

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question-4

In [36]:
def collatz(x):
    print(x)
    if x == 1:
        return 
    elif x % 2 == 0:
        collatz(x//2)
    else:
        collatz(3*x+1)
        
collatz(1)
print("---------")
collatz(10)

1
---------
10
5
16
8
4
2
1

# Question-5

In [39]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')
    
binary(0)
print("\n")
binary(1)
print("\n")
binary(3)
print("\n")
binary(9)

0

1

11

1001

# Question-6

In [40]:
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indent = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            self.indent = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.indent = 0

    def handle_data(self, data):
        heading = data.strip()
        if heading and self.indent >= len(self.headings):
            self.headings.append(heading)
            print(' ' * self.indent + heading)

    def get_headings(self):
        return self.headings
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

NameError: name 'HTMLParser' is not defined

# Question-7

In [4]:
import urllib.request
from urllib.parse import urljoin
from html.parser import HTMLParser

class LinkParser(HTMLParser):
    def __init__(self, base_url):
        super().__init__()
        self.base_url = base_url
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr, value in attrs:
                if attr == 'href':
                    url = urljoin(self.base_url, value)
                    if url not in self.links:
                        self.links.append(url)

def webdir(url, depth, indent):
    if depth == 0:
        return
    print(' ' * indent + url)
    try:
        with urllib.request.urlopen(url) as response:
            if response.getheader('Content-Type').startswith('text/html'):
                content = response.read().decode()
                parser = LinkParser(url)
                parser.feed(content)
                for link in parser.links:
                    webdir(link, depth - 1, indent + 1)
    except:
        return


webdir('https://www.yahoo.com/', 2, 0)

https://www.yahoo.com/
 https://www.yahoo.com/
 https://login.yahoo.com/?.lang=en-US&src=homepage
 https://mail.yahoo.com/
 https://news.yahoo.com/
 https://finance.yahoo.com/
 https://sports.yahoo.com/
 https://www.yahoo.com/entertainment/
 https://www.yahoo.com/lifestyle/
 https://shopping.yahoo.com/
 https://www.yahoo.com/plus?ncid=mbr_ryhacqnav00000038
 https://www.yahoo.com/everything/
 https://news.yahoo.com/china-calls-russia-ukraine-cease-014840192.html
 https://www.yahoo.com/entertainment/paris-hilton-says-she-drugged-110838786.html
 https://sports.yahoo.com/psv-fan-punches-sevilla-goalkeeper-marko-dmitrovic-who-instantly-takes-him-down-215334505.html
 https://finance.yahoo.com/news/exclusive-hyundai-divest-alabama-subsidiary-070312435.html
 https://news.yahoo.com/records-could-fall-dominos-week-162757577.html
 https://news.yahoo.com/rv-community-giant-carter-peanut-042216783.html
 https://sports.yahoo.com/jeff-bezos-reportedly-hires-firm-to-help-with-potential-commanders-bid-173422320.html
 https://sports.yahoo.com/pitchers-are-adamant-mlbs-pitch-clock-will-give-them-an-edge-over-hitters-will-spring-training-games-prove-it-175136106.html
 https://finance.yahoo.com/news/fed-inflation-fight-longer-pce-index-173353572.html
 https://www.yahoo.com/entertainment/bloodsport-jean-claude-van-damme-behind-the-scenes-160011995.html
 https://finance.yahoo.com/news/seniors-this-years-big-increase-in-social-security-benefits-is-falling-short-164027635.html
 https://sports.yahoo.com/2023-nfl-mock-draft-40-qb-prospect-makes-big-jump-into-top-10-as-scouting-combine-beckons-012127452.html
 https://autos.yahoo.com/carvanas-losses-deepen-times-9-231800343.html
 https://finance.yahoo.com/news/netflix-cuts-prices-in-over-30-countries-191309892.html
 https://finance.yahoo.com/news/youtube-testing-1080p-premium-playback-option-112835174.html
 https://news.yahoo.com/east-palestine-drinking-water-officials-photo-ops-devils-milkshake-224415127.html
 https://finance.yahoo.com/news/stock-market-news-today-february-24-2023-104349492.html
 https://sports.yahoo.com/ncaa-womens-final-top-16-bracket-reveal-utah-overtakes-uconn-for-final-no-1-seed-after-huskies-rough-week-013730254.html
 https://www.yahoo.com/entertainment/anthony-mackie-we-have-a-ghost-believes-paranormal-david-harbour-interview-021519870.html
 https://techcrunch.com/2023/02/23/google-photos-ai-powered-magic-eraser-is-now-a-google-one-subscription-perk/
 https://news.yahoo.com/alex-murdaugh-testifies-at-his-murder-trial-185530121.html
 https://news.yahoo.com/dmxs-10-year-old-daughter-plans-to-create-a-docuseries-on-drug-addiction-as-fentanyl-overdoses-surge-in-adolescents-194500945.html
 https://finance.yahoo.com/news/mortgage-rates-surge-closer-to-7-170055036.html
 https://sports.yahoo.com/ncaa-and-miami-agree-to-penalties-relating-to-recruitment-of-haley-and-hanna-cavinder-172344947.html
 https://sports.yahoo.com/rihannas-halftime-show-reportedly-drew-most-of-the-fccs-103-complaints-about-super-bowl-lvii-broadcast-153858765.html
 https://sports.yahoo.com/rams-and-lb-bobby-wagner-part-ways-after-1st-year-of-5-year-50-million-deal-220352747.html
 https://www.yahoo.com/lifestyle/redditor-tells-men-to-stop-approaching-women-when-theyre-exercising-please-leave-them-alone-002802798.html
 https://www.yahoo.com/lifestyle/teacher-asks-high-school-students-221802398.html
 https://news.yahoo.com/abortion-pill-ban-canada-180022210.html
 https://www.yahoo.com/sports/m/733220b1-6f64-36a9-91fa-cceba8fb5269/ou-ucla-highlights-busy.html
 https://finance.yahoo.com/news/hacker-group-defaces-russian-websites-151327717.html
 https://www.yahoo.com/lifestyle/prince-harry-meghan-markle-salmon-recipe-193312694.html
 https://sports.yahoo.com/nhl-blues-coach-berube-rips-into-top-players-they-dont-play-with-any-passion-141448298.html
 https://news.yahoo.com/defiantly-russian-officials-celebrate-their-military-in-washington-183948871.html
 https://www.yahoo.com/sports/m/c4b6a0cc-91e6-3c2b-9dd7-90c132913064/nate-oats-leaves-door-open.html
 https://www.yahoo.com/lifestyle/amazon-device-sale-181127433.html
 https://www.yahoo.com/entertainment/jay-hernandez-role-recall-magnum-pi-suicide-squad-david-ayer-crazy-beautiful-kirsten-dunst-150052853.html
 https://www.yahoo.com/lifestyle/teen-girls-open-tiktok-discussion-161534167.html
 https://finance.yahoo.com/news/humanity-was-the-most-interesting-game-at-sonys-state-of-play-and-you-can-play-a-demo-today-215456616.html
 https://sports.yahoo.com/ole-miss-fires-mens-basketball-coach-kermit-davis-143709857.html
 https://finance.yahoo.com/news/warner-bros-discovery-continues-lose-160717088.html
 https://www.yahoo.com/lifestyle/10-deals-t-skip-nordstrom-230502038.html
 https://finance.yahoo.com/news/heres-some-bad-news-for-employees-looking-for-raises-remote-work-and-shorter-work-weeks-203048824.html
 https://finance.yahoo.com/news/amazon-joins-india-backed-e-074350122.html
 https://sports.yahoo.com/parents-of-shooting-victim-call-brandon-millers-continued-play-for-alabama-unimaginable-232652405.html
 http://www.yahoo.com/?page=2
 https://search.yahoo.com/search?p=Alex+Murdaugh+Trial&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Russia-Ukraine+Conflict&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Air+Fryer+Recall&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Donald+Trump&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Aaron+Rodgers&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Little+Rock+Plane+Crash&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Cocaine+Bear&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Portland+Weather&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Tom+Brady&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://search.yahoo.com/search?p=Jimmy+Carter&fr=fp-tts&fr2=p:fp,m:tn,ct:all,kt:org,pg:1,stl:txt,b:
 https://www.yahoo.com/news/weather/forecast/4097
 https://login.yahoo.com/account/preferences?lang=en-US&region=US
 https://sports.yahoo.com/nba/miami-heat-milwaukee-bucks-2023022415/
 https://sports.yahoo.com/nba/sacramento-kings-los-angeles-clippers-2023022412/
 https://sports.yahoo.com/nba/cleveland-cavaliers-atlanta-hawks-2023022401/
 https://sports.yahoo.com

# Question-8

In [7]:
import pandas as pd


import sqlite3

# Creating sqlite3 database
conn = sqlite3.connect('Weatherdata.db')

# Creating table called WorldTable

conn.execute('''CREATE TABLE WeatherData
            (City TEXT, Country TEXT, Season TEXT, Temperature FLOAT, Rainfall FLOAT)''')

# Inserting data into the WorldTable table
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Winter' , 4.2,207.7)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Spring' , 8.3,169.6)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Summer' , 15.7,157.0)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('London' , 'United Kingdom' , 'Fall' , 10.4,218.5)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Winter' , 13.6, 16.5)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Spring' , 20.7, 6.5)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Summer' , 27.7, 0.1)")
conn.execute("INSERT INTO WeatherData (City, Country, Season, Temperature, Rainfall) VALUES ('Cairo', 'Egypt', 'Fall' , 22.2, 4.5)")
query1 = conn.execute("SELECT * FROM WeatherData")
print("a) All the temperature data.\n")                      
for row in query1:
    print(f"City: {row[0]},Temperature: {row[3]}")
    
print("\n")    
print("B) All the cities, but without repetition.\n")
query2 = conn.execute("Select distinct(City) from WeatherData")

for row in query2:
    print(f"City: {row[0]}")
    
    
print("\n")    
print("C) All the records for India.\n")
query3 = conn.execute("SELECT * FROM WeatherData WHERE country='India';")

for row in query3:
    print(f"{row}")
    
    
print("\n")    
print("D) All the Fall records.\n")
query4 = conn.execute("SELECT * FROM WeatherData WHERE season='Fall';")

for row in query4:
    print(f"{row}")
    

print("\n")    
print("E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.\n")
query5 = conn.execute("""SELECT city, country, season
            FROM WeatherData
            GROUP BY city, country, season
            HAVING AVG(rainfall) BETWEEN 200 AND 400;""")

for row in query5:
    print(f"{row}")
    

print("\n")    
print("F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order\n")
query6 = conn.execute("""SELECT city, country
            FROM WeatherData
            WHERE season='Fall'
            GROUP BY city, country
            HAVING AVG(temperature) > 20
            ORDER BY AVG(temperature) ASC;""")    

for row in query6:
    print(f"{row}")
    

print("\n")    
print("G) The total annual rainfall for Cairo.\n")
query7 = conn.execute("SELECT SUM(rainfall) AS total_annual_rainfall FROM WeatherData WHERE city='Cairo';")

for row in query7:
    print(f"{row}")


print("\n")    
print("H) The total rainfall for each season.\n")
query8 = conn.execute("SELECT season, SUM(rainfall) AS total_rainfall FROM WeatherData GROUP BY season;")

for row in query8:
    print(f"{row}")


# Commit changes and close the connection
conn.commit()
conn.close()

a) All the temperature data.

City: Mumbai,Temperature: 24.8
City: Mumbai,Temperature: 28.4
City: Mumbai,Temperature: 27.9
City: Mumbai,Temperature: 27.6
City: London,Temperature: 4.2
City: London,Temperature: 8.3
City: London,Temperature: 15.7
City: London,Temperature: 10.4
City: Cairo,Temperature: 13.6
City: Cairo,Temperature: 20.7
City: Cairo,Temperature: 27.7
City: Cairo,Temperature: 22.2


B) All the cities, but without repetition.

City: Mumbai
City: London
City: Cairo


C) All the records for India.

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)


D) All the Fall records.

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)


E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')


F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

('Cairo', 'Egypt')
('Mumbai', 'India')


G) The total annual rainfall for Cairo.

(27.6,)


H) The total rainfall for each season.

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9

In [10]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print("A)",['{}'.format(word.upper()) for word in words])
print("B)",['{}'.format(word.lower()) for word in words])
print("C)",[len(word) for word in words])
print("D)",[[word.upper(), word.lower(), len(word)] for word in words])
print("E)",[word for word in words if len(word)>=4])

A) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C) [3, 5, 5, 3, 5, 4, 3, 4, 3]
D) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E) ['quick', 'brown', 'jumps', 'over', 'lazy']